body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    margin-top: auto;
    color: white;
    font-size: small;
    background: linear-gradient(114deg, #1A5D1A 66%, #fbab1a 66%);
    vertical-align: bottom;
}

.navbar-brand{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 6.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.colouredSection {
    /* background: #1A5D1A; */
    background: linear-gradient(114deg, #1A5D1A 66%, #fbab1a 66%);
    color: white;
}


#login{
    color:blue;
    display:block;
    text-align: center;
}

#signup{
    color:blue;
    display:block;
    text-align: center;
}

.container-fluid {
    padding: 7% 15%;
  }

#nav-link {
    font-weight: bold;
    color: #1A5D1A;
}

ul#add-camps {
    margin-top: 25px;
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}
#copyright {
    position: absolute;
    bottom: 0;
}

.bigContainer {
    height: 1000px;
}
.summerCampButton {
    width: 100%;
}

#tagsBar {
    justify-content: space-around;
}
