* {
    text-align: center;
}

label{
    margin-top: 80px;
    display:flex;
    align-items: center;
    justify-content: center;
}
input{
    margin-top: 20px;
}
button{
    display:block;
    margin:auto;
}
small {
    display: block;
    text-align: center;
}

#accountType {
    margin-top: 20px;
}

#verified{
    color: green;
}